# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.log

# Visual Studio
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.svd

# VSCode
.vscode/

# Rider
.idea/
*.sln.iml

# MonoDevelop
*.unityproj
*.booproj

# OS generated
.DS_Store
Thumbs.db

# Blender backups
*.blend1

# Addressables
/[Aa]ssets/Addressables*_Temp/*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting auto-gen
/[Aa]ssets/Unity.VisualScripting.Generated/**

# Play Mode Test auto-gen scenes
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*